
# directories
.vs/
.idea/
Build/

# files
*.sln
*.sln.DotSettings.user

**.vcxproj.user
**.vcxproj.filters
**.vcxproj

compile_commands.json

Makefile
Engine/Makefile
Project/Makefile

**/Makefile

Project/Data/Resources/Models/**.fbx
Project/Data/Resources/Models/**.obj
!Project/Data/Resources/Models/Cube.obj
!Project/Data/Resources/Models/Sphere.obj