[submodule "imguizmo"]
	path = Engine/Dependencies/imguizmo
	url = git@github.com:/Caleb-Kronstad/ImGuizmo
[submodule "imgui"]
	path = Engine/Dependencies/imgui
	url = git@github.com:/Caleb-Kronstad/imgui
[submodule "assimp"]
	path = Engine/Dependencies/assimp
	url = git@github.com:/Caleb-Kronstad/assimp
[submodule "glm"]
	path = Engine/Dependencies/glm
	url = git@github.com:/Caleb-Kronstad/glm
[submodule "glfw"]
	path = Engine/Dependencies/glfw
	url = git@github.com:/Caleb-Kronstad/glfw
