
# directories
.vs/
.idea/
.cache/
Build/

# files
*.sln
*.sln.DotSettings.user

**.vcxproj.user
**.vcxproj.filters
**.vcxproj

compile_commands.json

**/Makefile

Editor/Data/Resources/

cmake-build-debug/
