
# directories
.vs/
.idea/
Build/

# files
*.sln
*.sln.DotSettings.user

**.vcxproj.user
**.vcxproj.filters
**.vcxproj

imgui.ini
**/imgui.ini

compile_commands.json

Makefile
Engine/Makefile
Project/Makefile

**/Makefile
