[submodule "imguizmo"]
	path = Engine/Dependencies/imguizmo
	url = https://github.com/Caleb-Kronstad/ImGuizmo
[submodule "imgui"]
	path = Engine/Dependencies/imgui
	url = https://github.com/Caleb-Kronstad/imgui
[submodule "assimp"]
	path = Engine/Dependencies/assimp
	url = https://github.com/Caleb-Kronstad/assimp
[submodule "glm"]
	path = Engine/Dependencies/glm
	url = https://github.com/Caleb-Kronstad/glm
[submodule "glfw"]
	path = Engine/Dependencies/glfw
	url = https://github.com/Caleb-Kronstad/glfw
[submodule "jolt"]
	path = Engine/Dependencies/jolt
	url = https://github.com/Caleb-Kronstad/JoltPhysics
[submodule "Engine/Dependencies/asio"]
	path = Engine/Dependencies/asio
	url = https://github.com/Caleb-Kronstad/asio
